<!doctype html>
<html>
<head>
    <title>New Student</title>
</head>

<body>
    <h1>Add a new student</h1>

    <form action="/student-added" method='POST'>
        <label>Enter First Name
            <input type="text" name="first_name">
        </label>
        <br>
        <label>Enter Last Name
            <input type="text" name="last_name">
        </label>
        <br>
        <label> Enter GiHub Username
            <input type="text" name="github">
        </label>
        <br>
        <input type="submit" value="Add Student">
    </form>

</body>
</html>