<!-- <!doctype html>
<html>
<head>
  <title>Game!</title>
</head>
<body>
    Choose a person, color, noun, and adjective from the dropdown menus
    below.
    <form action="/madlib" method="GET">
        Person:
            <select name="person">
                <option value="Dahlia">Dahlia</option>
                <option value="Kerry">Kerry</option>
                <option value="a stranger">Stranger</option>
            </select><br>
        Color:
            <select name="color">
                <option value="red">red</option>
                <option value="blue">blue</option>
                <option value="orange">orange</option>
            </select><br>
        Noun:
            <select name="noun">
                <option value="book">book</option>
                <option value="whale">whale</option>
                <option value="dancer">dancer</option>
            </select><br>
        Adjective:
            <select name="adjective">
                <option value="spicy">spicy</option>
                <option value="long">long</option>
                <option value="magical">magical</option>
            </select><br>
        <input type="submit">
    </form>
</body>
</html> -->


<!doctype html>
<html>
<head>
  <title>Game!</title>
</head>
<body>
    Choose a person, color, noun, and adjective from the dropdown menus
    below.
    <form action="/madlib" method="GET">
        Person:
            <select name="person">
                <option value="Dahlia">Dahlia</option>
                <option value="Kerry">Kerry</option>
                <option value="a stranger">Stranger</option>
            </select><br>
        Color:
            <select name="color">
                <option value="red">red</option>
                <option value="blue">blue</option>
                <option value="orange">orange</option>
            </select><br>
        Noun:
            <select name="noun">
                <option value="book">book</option>
                <option value="whale">whale</option>
                <option value="dancer">dancer</option>
            </select><br>
        Adjective:
            <select name="adjective">
                <option value="spicy">spicy</option>
                <option value="long">long</option>
                <option value="magical">magical</option>
            </select><br>
        <input type="submit">
    </form>
</body>
</html>